<div class="left_image" align="center" >
  <%=image_tag "Screen.png", :width => "120px" %>
</div>
<main>
  <section style="background:#efefef; height:300px; padding:15px 0 0 0; margin-top:50px;" align="center">   
    <% 
    i = 1
    @products.each do |product| %>
        <div class="product md-trigger " data-modal="modal-j<%= i %>">
        <%= image_tag("uploads/products/" + product.p_image, height: '100', width: '100') %>        
        </div>

                  <!-- Modal product click -->
          <div class="md-modal md-effect-jt" id="modal-j<%= i %>">
            <div class="md-content modal-j-bg">
              <div class="div-close">
                <span class="md-close on-close">
                  <img src="/assets/close.png" />
                </span>
              </div>  
              <div class="prod-desc">
                <div class="prod-title"><p> Title: <%= product.name %></div>
                <div class="prod-details">
                  <div class="iblk prod-artist-dimen">
                    <div class="prod-artist"><p>Artist: <%= product.artist %></p></div>
                    <div class="prod-dim">
                      <p>Height: <%= product.height %></p><p>Weight: <%= product.weight %></p><p>Stem: <%= product.stem %></p>
                    </div>
                  </div>
                  <div class="prod-img iblk"><%= image_tag("uploads/products/" + product.p_image, height: '300', width: '300') %></div>
                  <div class="prod-price-desc iblk">
                    <div class="prod-price">Price: <%= product.price %></div>
                    <div class="prod-des"><%=raw  product.description %></div>
                  </div>
                </div>
                <div class="clearx getbtn">
                <!-- <section> -->
                  <div class="wrapper-demo">
                    <div class="dd wrapper-dropdown-4">GET
                      <ul class="dropdown">
                        <li>
                          <form action="<%=root_path%>" method="get">
                              <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
                       
                              <a 
                                  href="#"                                  
                                  class = "pay" 
                                  value="Pay with Card"
                                  data-key= <%=PUBLISHABLE_KEY%>
                                  data-amount="500"
                                  data-currency="usd"
                                  data-name="Example Company Inc"
                                  data-description="Stripe payment for $5"
                              >Now</a>
                       
                              <script src="https://checkout.stripe.com/v2/checkout.js"></script>
                              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
                              <script>
                              $(document).ready(function() {
                                  $('.pay').on('click', function(event) {
                                      event.preventDefault();
                       
                                      var $button = $(this),
                                          $form = $button.parents('form');
                       
                                      var opts = $.extend({}, $button.data(), {
                                          token: function(result) {
                                              $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                                          }
                                      });
                       
                                      StripeCheckout.open(opts);
                                  });
                              });
                              </script>
                          </form>
                        </li>
                        <li><a href="#" class="md-trigger later" data-modal="modal-jsk" >Later</a></li>
                      </ul>
                    </div>
                  ​</div>
                <!-- </section> -->
              </div>
            </div>
          </div>
          </div>
    <% 
    i += 1
    end %>
    
    
   
  
    
  </section>
  <div class="cart" style="margin-top:30px; ">
    <a href="/checkout/cart">
      <%=image_tag "cart.png", :alt => "cart" %>
    </a>
  </div>  
</main>





<div class="md-modal md-effect-jt md-effect-jt2" id="modal-jsk">
  <div class="md-content modal-j-bg">
      <div class="div-close"><span class="md-close"><img src="/assets/close.png" /></span></div>
    
    <div class="fill-form-o-div">
      <div class="fill-form">
          <p><input type="text" placeholder="Name" /></p>
        <p><input type="text" placeholder="Email" /></p>
        <p><input type="text" placeholder="Street" /></p>
        <p><select><option value="">City</option></select></p>
        <p><select><option value="">State</option></select></p>
      </div>
      <div class="clearx"><a href="/checkout/cart" ><button class="btn-fill-submit">Checkout</button></a></div>
    </div>
  </div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->

<!-- classie.js by @desandro: https://github.com/desandro/classie -->
<script src="/assets/classie.js"></script>
<script src="/assets/modalEffects.js"></script>

<!-- for the blur effect -->
<!-- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill -->
<script>
  // this is important for IEs
  var polyfilter_scriptpath = '/assets/';
</script>
<script src="/assets/cssParser.js"></script>
<script src="/assets/css-filters-polyfill.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
      
  function DropDown(el) {
    this.dd = el;
    this.opts = this.dd.find('ul.dropdown > li');
    this.val = [];
    this.index = [];
    this.initEvents();
  }
  DropDown.prototype = {
    initEvents : function() {
      var obj = this;

      obj.dd.on('click', function(event){
        $(this).toggleClass('active');
        event.stopPropagation();
      });

      obj.opts.children('label').on('click',function(event){
        var opt = $(this).parent(),
          chbox = opt.children('input'),
          val = chbox.val(),
          idx = opt.index();

        ($.inArray(val, obj.val) !== -1) ? obj.val.splice( $.inArray(val, obj.val), 1 ) : obj.val.push( val );
        ($.inArray(idx, obj.index) !== -1) ? obj.index.splice( $.inArray(idx, obj.index), 1 ) : obj.index.push( idx );
      });
    },
    getValue : function() {
      return this.val;
    },
    getIndex : function() {
      return this.index;
    }
  }

  $(function() {

    var dd = new DropDown( $('.dd') );

    $(document).click(function() {
      // all dropdowns
      $('.wrapper-dropdown-4').removeClass('active');
      $('.later').click(function(){
        $('.on-close').trigger('click');
      });
    });

  });

</script>