 <h1>Profile</h1>
<%= form_for(:manager, :url => {:controller => 'managers', :action => 'create'}) do |f| %>
<p> Name:</br> <%= f.text_field :manager_name %> </p>
<p> Email:</br> <%= f.text_field :manager_email %> </p>
<p> Password:</br> <%= f.password_field :manager_password %></p>
<%= f.submit :Update %>
<% end %>