<!-- BEGIN SIDEBAR -->
   <%
    if params[:controller].split("/").last == "products"
      pro = "active"
    elsif params[:controller].split("/").last == "dashboard" 
      dash = "active"
    elsif params[:controller] == "admin/managers" && params[:action] == "new"
      new_user = "active"
    end
   %>
    <div class="page-sidebar nav-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->         
      <ul>
        <li>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler hidden-phone"></div>
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        </li>
        <li>
          <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
          <form class="sidebar-search">
            <div class="input-box">
              <a href="javascript:;" class="remove"></a>
              <input type="text" placeholder="Search..." />       
              <input type="button" class="submit" value=" " />
            </div>
          </form>
          <!-- END RESPONSIVE QUICK SEARCH FORM -->
        </li>
        <li class="<%= dash %> ">
           <%= link_to 'Dashboard', :controller => :dashboard, :action => :show %>          
        </li>        
        <li class="<%= pro %>">
         <%= link_to 'Products', :controller => :products, :action => :index %>   
        </li> 
        <li class="<%= new_user %>">
         <%= link_to 'Add User', admin_managers_new_path %>   
        </li> 
          
         
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->